In [2]:
# Python
import pandas as pd
from fbprophet import Prophet

Importing plotly failed. Interactive plots will not work.

In [5]:
df = pd.read_csv('example_wp_log_peyton_manning.csv')
df.head()

           ds         y
0  2007-12-10  9.590761
1  2007-12-11  8.519590
2  2007-12-12  8.183677
3  2007-12-13  8.072467
4  2007-12-14  7.893572

In [ ]:
df.describe

In [6]:
import seaborn as sns

In [ ]:
_ = sns.lineplot(x="ds", y="y", data=df)