# Python and MySQL

In [1]:
# Import of librairies

import mysql.connector as mariadb
import pandas as pd

In [2]:
# Loading credentials for maria-db AWS use

db_credentials = pd.read_csv("../../aws_mariadb_crendentials.csv", index_col="Field")
print(db_credentials.index)

Index(['user', 'password', 'host'], dtype='object', name='Field')

In [3]:
# Connection
mariadb_connection = mariadb.connect(
    user=db_credentials.loc["user"][0],
    password=db_credentials.loc["password"][0],
    host=db_credentials.loc["host"][0],
    port=3306,
    db = "db_velib")

cursor = mariadb_connection.cursor()

In [4]:
# Extracting columns name

query = """
DESCRIBE velib_realtime
"""
cursor.execute(query)
df = pd.DataFrame(cursor)
columns = df[0].tolist()

In [5]:
columns

['station_id',
 'operational_station',
 'nb_free_docks',
 'nb_total_free_bikes',
 'nb_free_mechanical_bikes',
 'nb_free_electrical_bikes',
 'payment_totem',
 'bike_return_possible',
 'data_actualisation',
 'date_of_update']

In [6]:
# Typing the SQL query

query = """
SELECT DISTINCT * FROM velib_realtime
WHERE station_id = 9034 and date(data_actualisation)=date("2020-04-29")
ORDER BY data_actualisation DESC
"""
# Execution
cursor.execute(query)

In [7]:
# Data addition in a pandas DataFrame
df = pd.DataFrame(cursor, columns=columns)
df.head(10)

,station_id,operational_station,nb_free_docks,nb_total_free_bikes,nb_free_mechanical_bikes,nb_free_electrical_bikes,payment_totem,bike_return_possible,data_actualisation,date_of_update
0,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:19:00
1,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-30 00:18:00
2,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:36:00
3,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:37:00
4,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:38:00
5,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:39:00
6,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:40:00
7,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:41:00
8,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:42:00
9,9034,OUI,18,4,2,2,OUI,OUI,2020-04-29 23:09:00,2020-04-29 23:43:00